* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 30px;
}

h1 {
    font-weight: 700;
    font-size: 58px;
    color: black;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 50px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    text-align: center;
    padding-bottom: 40px;
}

ul {
    list-style: none;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

img {
    width: 89.07px;
    height: 88.41px;
}


footer {
    margin: auto;
}

footer ul {
    gap: 40px;
    padding: 30px 0;
    justify-content: center;
}

footer img {
    width: 40.17px;
    height: 40.06px;
}

.main_img {
    width: 100%;
    height: 100%;
}

.header-wrap {
    border-bottom: 2px solid black;
}

.header-wrap ul {
    padding: 32px 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main_info {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.main_info p {
    margin: 0 auto;
    padding-bottom: 0;
}

.about_me p:last-child {
    padding-bottom: 0px;
}

.part ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.part ul p {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 22px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 25px;
    }

    ul {
        font-size: 18px;
    }

    .main_info {
        align-items: normal;
    }
}

@media screen and (max-width: 500px) {

    body {
        font-size: 15px;
    }

    h1 {
        font-size: 29px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 17px;
    }

    ul {
        font-size: 12px;
    }

    .main_info {
        flex-direction: column;
    }

    .main_info p {
        margin: 0;
        text-align: inherit;
    }

    .part ul{
        flex-direction: column;
        align-items: center;
    }

    .part li {
        padding-bottom: 40px;
    }

    .part li:last-child {
        padding-bottom: 0;
    }

    footer ul {
        justify-content: center;
    }

}